*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aliceblue;
   display: flex;
   justify-content: center;
}
.main-container{
    background-color: white;
    width: 30%;
    align-items: center;
    border-radius: 20px;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

img{
   width: 85%;
    border-radius: 2.5em;
    padding:1.5em;
  
}
h3{
    color: rgb(31, 61, 88);
    font-size: 1.5em;
    font-weight: bold;
    padding: 0px 2em;
}
p{
    color: rgb(143, 154, 163);
    padding: 15px 2.5em;
    font-size: 20px;
}

@media screen and (max-width:600px){
    .main-container{
        padding: 0;
        flex-direction: row;
        height: 100%;
        width: 260px;
        background-color: white;
    }
    
    h3{
        color: black;
        font-size: 25px;
        font-weight: bold;
        padding: 10px 15px;
    }
    p{
        color: black;
        font-size: 15px;
        padding: 10px 15px;
    }
    img{
        padding: 10px;
        width: 90%;
    }
}
