*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    background-color: rgb(73, 155, 228);
}
.main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: white;
    width:15em;
    margin-top: 7em;
    border-radius: 12px;
}
img{
    width: 15em;
    padding: 1.5em;
    border-radius: 12px;
}
h3{
    padding: 15px;
    text-align: center;
    font-size: 25px;
}
p{
    text-align: center;
    padding: 10px;
}
@media screen and (min-width:700px){
    .main-container{
        background: white;
        width:20em;
        border-radius: 12px;
        margin-top: 5em;
    }
    img{
        width: 20em;
        padding: 1.5em;
        border-radius: 12px;
    }
    h3{
        font-size: 25px;
    }
    p{
        text-align: center;
        padding: 10px;
        font-size: 20px;
    }
}