body{
    background-color: aliceblue;
   display: flex;
   justify-content: center;
}
.main-container{
    background-color: rgb(236, 230, 230);
    height: 100%;
    width: 20%;
    align-items: center;
    border-radius: 20px;
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.main-container>*{
    flex-grow: 0;
    flex-shrink: 1;
}
img{
    height: 300px;
    width: 240px;
    border-radius: 20px;
    padding: 10px 10px;
}
h3{
    color: rgb(31, 61, 88);
    font-size: 25px;
    font-weight: bold;
    padding: 0px 5px;
}
p{
    color: rgb(143, 154, 163);
    padding: 5px;
}
@media screen and (max-width:300px){
    .main-container{
        flex-direction: row;
        height: 320px;
        width: 260px;
    }
    .main-container>*{
        flex-grow: 0;
        flex-shrink: 1;
    }
    h3{
        color: rgb(31, 61, 88);
        font-size: 15px;
        font-weight: bold;
        padding: 0px 5px;
    }
}
